<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  <display-name>Caisse manager</display-name>
  <description>Gestion de la caisse enregistreuse en ligne</description>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  	 <listener-class>
			appli.controller.util_ctrl.ApplicationListener
		</listener-class>
  </listener> 
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener> 
  <listener>
    <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
  </listener>
  <filter>
    <filter-name>OpenEntityManagerInViewFilter</filter-name> 
    <filter-class>
	        org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
	    </filter-class>
    <init-param>
      <param-name>flushMode</param-name>
      <param-value>AUTO</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>appli.controller.util_ctrl.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/front</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>FrontFilter</filter-name>
    <filter-class>framework.controller.FrontFilter</filter-class>
    <init-param>
      <description>Global encoding</description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FrontFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrontFilter</filter-name>
    <url-pattern>/front</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/complexe</taglib-uri>
      <taglib-location>/WEB-INF/tld/cplx-custom.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/standard</taglib-uri>
      <taglib-location>/WEB-INF/tld/std-custom.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/work</taglib-uri>
      <taglib-location>/WEB-INF/tld/work-custom.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/html</taglib-uri>
      <taglib-location>/WEB-INF/tld/fragment-custom.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt-custom.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/c</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.customtaglib.com/fn</taglib-uri>
      <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <description>Config. de l'encodage des pages JSP</description>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  
  <servlet>
    <display-name>load</display-name>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>appli.controller.util_ctrl.LoadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
    <servlet>
    <display-name>load2</display-name>
    <servlet-name>LoadServlet2</servlet-name>
    <servlet-class>appli.controller.domaine.caisse.LoadServlet2</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <display-name>front</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>framework.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/front</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/commun/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/commun/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>org.apache.jasper.JasperException</exception-type>
    <location>/commun/error.jsp</location>
  </error-page>
    <error-page>
		<error-code>404</error-code>
		<location>/commun/notfound.jsp</location>
	</error-page>
  <session-config>
    <session-timeout>400</session-timeout>
  </session-config>
</web-app>